/* all app scss styles here */
@mixin transition($kind, $duration) {
	-o-transition: $kind $duration;
	-ms-transition: $kind $duration;
	-moz-transition: $kind $duration;
	-webkit-transition: $kind $duration;
	transition: $kind $duration;
}

$headerHeight: 100px;
$headerHeightMin: 70px;
$siteHeaderHeight: 120px;
$breadcrumbsHeight: 50px;

@media #{$screen} {

	a {
		&:hover {
			color: $secondary-color;
		}
	}

	a.form-anchor
	{
		display: block;
		position: absolute;
		top: -20px; // column-gutter width
	}

	.contacts-list
	{

		.contacts-item
		{
			border: 1px solid $silver;

			img
			{
				width: 100%;
			}

			.contacts-info
			{
				padding: 6px 20px 20px;

				h4
				{
					margin: 0;
				}

				p
				{
					margin-bottom: 0px;

					&.job-title
					{
						margin-bottom: 6px;
					}
				}
			}
		}
	}

	.product-list {

		li {
			
			.product-box {
				padding: 10px;
				border: 1px solid #EEE;
				cursor: pointer;
				position: relative;

				.product-img {
					position: relative;
					overflow: hidden;
					height: 180px;
					background-color: #FFF;
					img {
						position: absolute;
						top: -100%;
						right: -100%;
						bottom: -100%;
						left: -100%;
						margin: auto;
						max-height: none;
						max-width: none;
						min-width: 100%;
						width: 100%;
					}
				}

				.product-text {
					min-height: 100px;

					h5 {
						color: $secondary-color;
						font-weight: 500;
					}
					.artnr {
						display: block;
						color: #666;
						font-size: .9rem;
						margin-bottom: 5px;
					}

					p {
						font-size: .95rem;
						line-height: 1.3rem;
					}
				}
			}

			.product-price {
				background-color: $secondary-color;
				border-right: 1px solid #EEE;
				border-left: 1px solid #EEE;
				border-bottom: 1px solid #EEE;
				padding: 5px 10px;

				.price-label {
					color: white;
					float: left;
					width: 50%;

					.price {
						font-weight: 700;
						color: $secondary-color;
					}
				}

				.product-link {
					text-align: right;
					float: right;
					width: 50%;

					a {
						color: white;
						
						&:hover {
							color: black;
						}
					}
				}
			}

			&:hover {

				.product-box {
					background-color: $secondary-color;
					color: white;

					.product-text {
						
						h5 a,
						.artnr {
							color: white;
						}
					}
				}
			}
		}
	}

	#produkter {

		.category-list {
			margin-bottom: 32px;

			li {
				padding: 0 20px;
			}
		}
	}

	#produktdetaljer {

		.product-attachments {
			margin-top: 24px;

			h4 {
				margin-bottom: 8px;
			}

			ul {
				list-style-type: none;
				margin-left: 0;

				li {
					margin-bottom: 4px;

					a {
						color: $secondary-color;

						i {
							font-size: 14px;
							margin-right: 2px;
							transform: translateY(-1px);
						}

						&:hover span {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	a.readmore {
		color: $oil;
		font-weight: 500;
		font-size: 0.90rem;
		&:hover {
			text-decoration: underline;
		}
		i {
			color: $secondary-color;
			margin-right: 5px;
		}
	}

	button, .button {
		background-color: $secondary-color;
		padding: 10px 15px;
		height: auto;
	}

	.clearing-blackout {
		z-index: 9999;
	}

	.highlight {
		font-weight: 400;
	}

	.paginering {
		ul {
			list-style-type: none;
			margin: 0;
			li {
				display: inline-block;
				a {
					display: block;
					border: 1px solid $light-grey;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 18px;
					font-size: 0.9rem;
				}
				&.current, &:hover {
					a {
						background-color: $light-grey;
						font-weight: bold;
						color: $secondary-color;
					}
				}
				&.unavailable {
					a {
						background-color: none;
						cursor: default;
						border: 1px solid $light-grey;
						color: $light-grey;
					}
				}
			}
		}
	}

	::-webkit-input-placeholder { color:$oil; }
	::-moz-placeholder { color:$oil; } /* firefox 19+ */
	:-ms-input-placeholder { color:$oil; } /* ie */
	input:-moz-placeholder { color:$oil; }

	.frontpage {
		header#top {
			background-color: #FFF;
			background-image: none;
			background-repeat: repeat-x;
			background-position: center top;
			//border-bottom: none;
			&.minimized {
				background-color: #FFF;
			}
			#branding {
				a.logo {
					//background-image: url(../images/static/COBA-MT-ny-logo.png);
				}
			}


			.menutoggle {
				h3 {
					color: $white;
				}
			}

			#navTop {
				border-bottom: 1px solid $secondary-color;
				.socialMediaTop {
					.phoneNum {
						color: $body-font-color;
						span {
							color: $secondary-color;
						}
					}
					.socialIcon {
						ul {
							li {
								a {
									border: 1px solid $body-font-color;
									i {
										color: $body-font-color;
									}
								}
							}
						}
					}
				}
				.mainNav {
					ul {
						li {
							a {
								color: $body-font-color;
								text-shadow: 0 0 2px rgba(0,0,0,0.0);
								font-weight: normal;
							}
						}
					}
				}
			}
		}
	}
	header#top {
		height: $headerHeightMin;
		background-color: #FFF;
		border-bottom: 1px solid $secondary-color;
		width: 100%;
		z-index: 999;

		#branding {
			height: $headerHeightMin;
			line-height: $headerHeightMin;

			.wrap-logo {
				float: left;
				width: 100%;
				height: 100%;

				a.logo {
					display: block;
					height: 100%;

					span {
						display: block;
						text-indent: -9999px;
						overflow: hidden;
					}

					img {
						height: calc(100% - 4px);
						display: block;
						height: 100%;
					}
				}
			}
		}

		#siteSearch {
			height: 0;
			overflow: hidden;
			background-color: transparent;
			@include transition(height, 0.3s);
			input {
				background-color: $secondary-color;
				border-radius: 10px 10px 10px 10px;
				border: none;
				color: white;
				font-size: 16px;
				height: auto;
				margin-top: 10px;
				padding: 12px;

				&::-webkit-input-placeholder { color: white; }
				&::-moz-placeholder          { color: white; } /* firefox 19+ */
				&:-ms-input-placeholder      { color: white; } /* ie */
				&:-moz-placeholder           { color: white; }
			}
			&.open {
				height: 57px;
			}
		}

		.menutoggle {
			height: $headerHeightMin;
			cursor: pointer;
			h3 {
				line-height: $headerHeightMin;
				margin: 0;
				font-size: 2rem;
				text-align: center;
				i {
					color: black;
				}
			}
		}

		#navTop {
			background-color: $white;
			z-index: 999;
			max-height: 0;
			overflow: hidden;
			position: relative;
			height: auto;

			.lang-change {
				position: absolute;
				top: 6px;
				right: 30px;
				z-index: 999999;
				ul {
					margin: 0;
					padding: 0;
					text-align: right;
					list-style: none;
					li {
						display: inline-block;
						margin-right: 10px;
						a {
							@include transition(all, .2s);
							border-radius: 50%;
							width: 20px;
							height: 20px;
							background-position: -2px center;
							background-size: cover;
							display: block;
							&.norway-flag {
								background-image: url('/media/dist/images/static/no-lang.png');
							}
							&.denmark-flag {
								background-image: url('/media/dist/images/static/dk-lang.png');
							}
							&.sweden-flag {
								background-image: url('/media/dist/images/static/se-lang.png');
							}
							&.britain-flag {
								background-image: url('/media/dist/images/static/gb-lang.png');
								background-position: center center;
							}
						}
					}
				}
			}

			.socialMediaTop {
				position: relative;
				text-align: center;
				width: 100%;
				padding: 15px 0 0 0;
				.phoneNum {
					float: none;
					color: $white;
					span {
						font-weight: bold;
						color: $secondary-color;
						font-size: 1.1rem;
					}
				}
				.socialIcon {
					float: none;
					margin-left: 0;

					ul {
						margin: 0;
						list-style-type: none;
						li {
							display: inline-block;
							a {
								width: 26px;
								height: 26px;
								line-height: 23px;
								display: block;
								border-radius: 20px;
								border: 1px solid $primary-color;
								text-align: center;
								i {
									color: $primary-color;
									font-size: 0.9rem;
								}
							}
						}
					}
				}
			}

			.mainNav {
				position: relative;
				z-index: 999;
				ul {
					margin: 20px 0 20px 0;
					list-style-type: none;
					li {
						display: block;
						margin-left: 0;
						text-align: left;
						border-top: 1px solid $silver;
						a {
							display: block;
							color: $body-font-color;
							font-size: 1.1rem;
							letter-spacing: 1px;
							font-family: "Roboto Condensed";
							text-transform: uppercase;
							padding: 5px 0 5px 0;
						}

						&.mobile-search
						{

							input
							{
								display: inline-block;
								width: 100%;
								margin: 10px 10px 10px 0px;
								border-color: #EFEFEF;
								box-shadow: none;
								padding-right: 32px;
							}

							i
							{
								position: absolute;
								right: 10px;
								top: 21px;
							}
						}

						ul {
							margin: 0;
							background-color: $white-smoke;
							li {
								padding-left: 30px;
								a {
									text-transform: none;
								}
							}
						}
					}
				}
			}

			&.open {
				max-height: 1200px;
				background-color: $white;
				@include transition(max-height, 1s);
			}

		}

		&.minimized {
			height: $headerHeightMin;
			@include transition(height, 0.3s);
			#branding {
				height: $headerHeightMin;
				line-height: $headerHeightMin;
				@include transition(all, 0.3s);
			}
			#navTop {
				.socialMediaTop {
					top: 12px;
					@include transition(top, 0.3s);
				}

				.lang-change {
					a {
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}

	.contentPusher {
		display: none;
	}

	#siteHeader {
		background-color: $snow;
		min-height: $siteHeaderHeight;
		border-bottom: 1px solid $smoke;
		h1 {
			line-height: normal;
			text-transform: uppercase;
			text-align: center;
		}
		.headerCta {
			line-height: normal;
			text-align: center;
		}
	}

	.pageBreadcrumb {
		height: $breadcrumbsHeight;
		background-color: $light-grey;
		border-bottom: 1px solid $smoke;
		.breadcrumbs {
			background-color: transparent;
			border: none;
			margin: 0;
			padding: 0;
			li {
				line-height: $breadcrumbsHeight;
				a {
					color: $base;
				}
				&.current {
					a {
						color: $primary-color;
					}
				}
			}
		}
		.breadcrumbs > *::before  {
			font-family: FontAwesome;
			font-size: 0.9rem;
			color: $secondary-color;
		}
		.docSearch {
			p {
				line-height: $breadcrumbsHeight;
				font-size: 0.9rem;
				input.docSearch {
					float: right;
					width: 100%;
					padding: 4px 5px;
					height: auto;
					margin-top: 10px;
				}
				input.searchBtn {
					position: absolute;
					right: 30px;
					top: 17px;
				}
			}
		}
	}

	#frontBanner {

		#slideshow {
			position: relative;
			margin-bottom: 0;
			overflow: hidden;
			height: auto !important;
			@include transition(height 0.5s, margin 0.5s);

			// shared styles for transitioning slideshows
			&.standard, &.fullscreen {
				min-height: 205px;

				.slides {
					height: 100%;

					> li {
						height: 100% !important;

						.slideContent {
							height: 100%;
							top: 0;
							transform: none;
							display: flex;
							flex-direction: column;
							justify-content: center;
							min-height: 205px;

							.slideText {
								padding: 20px;

								h2 {
									margin-top: 0;
									text-shadow: 2px 2px 5px #000;
								}

								h4 {
									color: white;
									text-shadow: 2px 2px 5px #000;
								}
							}
						}
					}
				}

				.slide {
					position: absolute;
					width: 100%;
					height: 100%;
					background-position: center top;
					background-repeat: no-repeat;
					background-size: cover;
					z-index: 1;
					opacity: 0;
					@include transition(opacity, 1.2s);

					&.active {
						z-index: 2;
						opacity: 1;
					}

					img {
						display: none;
					}
				}
			}

			// Standard 12 column wide slideshow with communication
			&.standard {
				position: relative;
				.wrapper {
					position: relative;
					width: 100%;
					max-width: $row-width - $column-gutter;
					height: 100%;
					margin: 0 auto;
				}

				.slide {
					a.slidelink {
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 970;
						span {
							display: none;
						}
					}
					.slideContent {
						margin-top: 120px;
						color: #FFF;
						width: 100%;
						a {
							color: #fff;
						}
						h2 {
							color: red !important;
							margin-bottom: 20px;
							text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
							font-size: 1.5rem;
							font-weight: 500;
						}
						p {
							font-weight: 500;
							margin-bottom: 20px;
							text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
							font-size: 1rem;
						}
						.button {
							background-color: $secondary-color;
							border: 1px solid $smoke;
							margin-right: 10px;
							&.active {
								background-color: $secondary-color;
							}
						}
					}
				}
			}

			// Next/prev buttons
			// icons set in app.js slideshow plugin initiaton.
			// Uses ionicons by default.
			.slidenav {
				display: none;
				background-color: rgba(49,170,159,0.56);
				transition: all .5s ease-in-out !important;
				opacity: 0.7;
				&.prev {
					left: -35px !important;
				}
				&.next {
					right: -35px !important;
				}
			}

			// bullet navigation
			.navcontainer {
				display: none;
				position: absolute;
				top: 100%;
				width: 100%;
				height: 16px;
				margin-top: 12px;
				font-size: 0;
				text-align: center;

				.navitem {
					display: inline-block;
					width: 16px;
					height: 16px;
					border-radius: 8px;
					margin: 0 4px;
					background: #999;
					cursor: pointer;
					&.active {
						background: $primary-color;
					}
				}
			}

			&:hover {
				.slidenav {
					opacity: 1;
					&.prev {
						left: 0 !important;
					}
					&.next {
						right: 0 !important;
					}
				}
			}
		}
	}

	#focusBanner {
		position: relative;
		z-index: 980;
		background-color: $white;
		padding-bottom: 20px;
		.focusBoxContainer {
			margin-top: 30px;
			.focusBox {
				margin-bottom: 0px;
				.focusBoxInner {
					.focusBoxImg {
						height: 200px;
						overflow: hidden;
						margin: 0 0 0 0;

						> a {
							display: block;
							position: relative;
							height: 100%;
							overflow: hidden;

							img {
								width: 100%;
								filter: grayscale(100%);
								-webkit-filter: grayscale(100%);

								position: relative;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
							}
							&:hover img {
								filter: grayscale(0%);
								-webkit-filter: grayscale(0%);
							}
						}
					}
					.focusBoxContent {

						.focusBoxHead {
							text-align: center;
							background-color: $secondary-color;
							margin: 0 0 0 0;
							padding: 0 10px;
							height: 37px;
							
							h3 {
								margin: 0;
								color: $white;
								text-transform: uppercase;
								font-size: 1.3rem;
								font-weight: 400;
								line-height: 37px;

								a {
									color: white;
								}
							}
						}
						.focusBoxTxt {
							padding: 10px 10px 0 10px;
							border: 1px solid $light-grey;
							p {
								font-size: 0.9rem;
								margin-bottom: 10px;
							}
						}
						.focusBoxLink {
							padding: 5px 10px 5px 10px;
							background-color: $light-grey;
						}
					}
				}
			}

		}
	}

	#docSearch {
		background-color: $dark-grey;
		border-bottom: 1px solid $white;
		height: 65px;
		p, h4 {
			line-height: 65px;
			text-transform: uppercase;
			color: $white;
			margin: 0;
			input.searchInput {
				margin-bottom: 0;
				background-color: $light-grey;
				border: none;
				margin-top: 12px;
				width: 60%;
				float: left;
			}
			input.searchBtn {
				float: left;
				margin-left: 5px;
				margin-top: 18px;
			}
		}
		.textRight {
			text-align: right;
		}
	}

	.parallaxBkgr {
		.parallax-window {
			min-height: 300px;
			background: transparent;
			background-size: cover;
			.parallaxText {
				margin-top: 40px;
				h5 {
					color: $white;
					text-transform: uppercase;
					font-size: 1rem;
				}
				h2 {
					color: $white;
					text-transform: uppercase;
					margin-bottom: 30px;
					font-size: 1.5rem;
				}
				.button {
					background-color: transparent;
					border: 2px solid $white;
					border-radius: 3px;
					padding: 0 15px;
					height: 40px;
					line-height: 38px;
					text-transform: uppercase;
					font-size: 0.9rem;
					&:hover {
						background-color: $white;
						color: $primary-color;
					}
				}
			}
		}
	}

	#subMenu {
		margin-top: 32px;

		h4 {
			margin-bottom: 16px;
		}

		ul {
			margin: 0;
			list-style-type: none;

			li {
				border-top: 1px solid $smoke;
				padding-left: 14px;
				position: relative;

				i {
					color: $secondary-color;
					cursor: pointer;
					font-size: 17px;
					position: absolute;
					top: 8px;
					left: 0;

					@include transition(transform, .4s);
					-webkit-tap-highlight-color: transparent;
				}

				a {
					padding: 5px 10px;
					display: inline-block;
					font-size: 1.1rem;

					&.active {
						font-weight: bold;
					}
				}

				ul {
					display: none;
					margin-left: -14px;

					li {
						padding-left: 44px;

						i {
							left: 30px;
							top: 7px;
						}

						a {
							font-size: 0.95rem;
							font-weight: normal;
						}

						&:last-child {
							border-bottom: none;
						}

						ul {
							margin-left: -44px;

							li {
								padding-left: 74px;

								i {
									left: 60px;
								}

								&.leaf {
									padding-left: 60px;
								}

								ul {
									margin-left: -74px;

									li.leaf {
										padding-left: 90px;
									}
								}
							}
						}

						&.leaf {
							padding-left: 30px;
						}
					}
				}

				&:last-child {
					border-bottom: 1px solid $smoke;
				}

				&.open {
		
					> i {
						transform: rotate(90deg) translateX(2px);
					}
				}
			}
		}

		> ul > li > a.active {
			font-weight: normal;
		}
	}

	.content {
		padding: 40px 0 40px 0;

		.contentMargin {
			margin-bottom: 40px;
		}

		#subpageRight {
			background-image: none;
			padding-left: 0;
			min-height: 600px;
		}

		p strong {
			font-weight: bold;
		}

		.introTxt {
			margin-bottom: 40px;
			p {
				text-align: center;
			}
			h1,h2,h3,h4,h5,h6 {
				text-align: center;
			}
		}

		.submenuToggle {
			background-color: $secondary-color;

			span {
				display: block;
				color: $white;
				cursor: pointer;
				padding: 10px 0;
				text-align: center;
				font-size: 1.2rem;
				i.fa {
					font-size: 1.5rem;
					vertical-align: middle;
					margin-left: 10px;
				}
			}
		}

		.mainImage {
			margin:15px 0 20px 0;
			.imgText {
				padding: 15px;
				background-color: $light-grey;
				font-style: italic;
				p {
					font-size: 0.9rem;
					line-height: 1.2rem;
				}
			}
		}

		&#frontArticles {

			h3 {
				border-bottom: 1px solid $light-grey;
				margin-bottom: 30px;
			}

			.frontReference {

				ul {

					li {
						padding-bottom: 40px;

						&.mix {
							display: none;
						}
					}
				}

				.articleBox {
					margin-bottom: 0;

					.articleImage {
						width: 100%;
						margin-right: 0;
						float: none;

						.imgBox {
							width: 100%;
							margin: 0 0 10px 0;
						}
					}

					.articleTxt {
						overflow: hidden;
						display: inline-block;
						height: 1.5rem;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: calc(100% - 12px);

						h4 {
							margin: 0;
							line-height: 1.8rem;
						}

						p {
							font-size: 0.9rem;
							margin-bottom: 0;
						}
					}
				}
			}

			.frontNews {
				background-image: none;

				ul {
					li {
						border-bottom: 1px solid $light-grey;
						padding-bottom: 15px;
						margin-bottom: 15px;
					}
				}

				.articleBox {
					margin-bottom: 0;

					.articleImage {
						width: 100%;
						margin-right: 0;
						float: none;

						.imgBox {
							width: 100%;
							margin: 0 0 10px 0;
						}
						
						.image {
							display: none;
						}
					}

					.articleTxt {
						width: 100%;

						h5 {
							margin: 0;
							line-height: 1.4rem;
						}

						p {
							font-size: 0.9rem;
							margin-bottom: 0;
						}
					}
				}
			}
		}

		#imageGallery {

			&.product_gallery {
				
				.thumbBox {
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 90px;

					> a {
						display: block;
						height: 100%;
					}
				}
			}

			.thumbImage {
				width: 100%;
				height: 100px;
				overflow: hidden;
				position: relative;
				border: 1px solid $light-grey;
				margin: 3px 0 0 0;
				img {
					position:absolute;
					left: -100%;
				    right: -100%;
				    top: -100%;
				    bottom: -100%;
				    margin: auto;
				    min-height: 100%;
				    min-width: 100%;
				    max-width: none;
				    height: 100%;
				}
			}
		}

		&#quote {
			background-color: $light-grey;
			padding: 20px 0;
			h2 {
				text-align: center;
				color: $primary-color;
				font-size: 1.4rem;
				line-height: 3.3rem;
				margin-bottom: 30px;
			}
			p {
				text-align: center;
			}
		}

		.topImg {
			margin-bottom: 20px;
		}

		.contentHeader {
			margin-bottom: 20px;
			h1,h2,h3,h4,h5,h6 {
				margin: 0;
			}
			.headingLine {
				background-color: $secondary-color;
				display: inline-block;
				height: 2px;
				width: 80px;
			}
		}

		.subpageBox {
			.listImage {
				max-height: 143px;
				overflow: hidden;
				img {
					filter: grayscale(100%);
					-webkit-filter: grayscale(100%);
				}
				&:hover {
					img {
						filter: grayscale(0%);
						-webkit-filter: grayscale(0%);
					}
				}
			}
			.listHeader {
				background-color: $secondary-color;
				padding: 5px 10px;
				h4 {
					color: $white;
					margin: 0;
					a {
						color: $white;
						display: block;
					}
				}
			}
			.listText {
				font-size: 0.95rem;
			}
		}

		h3 {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $light-grey;
		}

		#newsList {
			li {
				border-bottom: 1px solid $secondary-color;
				margin-bottom: 15px;

				.articleImg {
					margin-top: 0.5rem;
					margin-bottom: 0;
				}

				h3 {
					border-bottom: none;
					margin: 0 0 10px 0;
					padding: 0;
				}

				p {
					margin-bottom: 0;
				}
			}
		}

		.articleList {
			margin-bottom: 40px;
			.articleBox {
				margin-bottom: 0;
				padding-bottom: 20px;
				border-bottom: 1px solid $light-grey;
				.articleImage {
					width: 20%;
					margin-right: 5%;
					float: left;
					.imgBox {
						width: 100%;
					}
				}
				.articleTxt {
					width: 75%;
					float: left;
					h5 {
						margin: 0;
						line-height: 1.4rem;
						margin-bottom: 5px;
					}
					p {
						font-size: 0.9rem;
						margin-bottom: 0;
						line-height: 1.3rem;
					}
				}
			}
		}

		.box {
			padding: 15px;
			border: 1px solid $smoke;
		}

		.articleBox {
			margin-bottom: 40px;
		}

		.articleImg {
			margin-bottom: 20px;
		}
		.articleContent {
			position: relative;
			margin-bottom: 20px;
		}

		.articleText {
			/*min-height: 150px;*/
		}

		.listImg {
			min-height: 140px;
			max-height: 140px;
			overflow: hidden;
			margin-bottom: 15px;
		}

		.listTxt {
			margin-bottom: 60px;
		}

		.contactForm {
			textarea {
				min-height: 300px;
			}
		}

		#contactInfo {
			i.fa {
				width: 30px;
				vertical-align: middle;
			}
		}

		.rightBox
		{
			background-color: $secondary-color;
			padding: 20px;
			margin-bottom: 40px;
			position: relative;

			h1,h2,h3,h4,h5,h6 {
				color: $white;
				border-bottom: none;
				margin: 0 0 15px 0;
				padding: 0;
				line-height: 1.5rem;
			}
			p {
				color: $white;
				strong {
					font-size: 1.2rem;
				}
			}

			input, textarea {
				margin-bottom: 10px;
			}

			textarea {
				min-height: 100px;
			}
			input.button {
				background-color: $light-grey;
				color: $primary-color;
				&:hover {
					background-color: $primary-color;
					color: $white;
				}
			}
		}

		.rightForm {
			textarea {
				min-height: 80px;
			}
			.button {
				background-color: $white;
				color: $body-font-color;
				margin-bottom: 0;
				&:hover {
					background-color: $smoke;
					color: $secondary-color;
				}
			}
		}

		// VENUES SCROLLER FRONT PAGE

		.venueList {
			.articleImg {
				height: 160px;
				overflow: hidden;
			}
		}

		&#venues {
			background-color: $primary-color;
			.contentHeader {
				h2 {
					color: $white;
				}
				.headingLine {
					background-color: $steel;
				}
			}
			.slickCarousel {
				.slick-dots {
					margin: 0;
				}
				.slick-list {
					margin: 0 -20px;
					.slick-slide {
						margin: 0 20px;
						.venueBox {
							position: relative;
							width: 100%;
							height: 210px;
							img {
								width: auto;
								height: 100%;
							}
							.venueBoxHover {
								background-color: rgba(0,0,0,0.0);
								position: absolute;
								top:0;
								left: 0;
								width: 100%;
								height: 100%;
								padding: 15px;
								cursor: pointer;

								.venueBoxTxt {
									position: absolute;
									bottom: -150px;
									h4,h5,h6  {
										color: $white;
									}
									.button {
										background-color: $secondary-color;
										color: $white;
										padding: 10px 15px;
										border-radius: 6px;
										height: auto;
									}
								}
								&:hover {
									background-color: rgba(0,0,0,0.5);
									.venueBoxTxt {
										bottom: 0;
										@include transition(bottom, 0.3s);
									}
									@include transition(background-color, 0.3s);
								}
							}
						}
					}
				}

			}
		}

		// MARKET PAGES

		.filterBtns {
			margin-bottom: 0;

			button {
				background-color: $vapor;
				border: 1px solid #e4e4e4;
				color: $body-font-color;
				margin: 0 0 5px 0;
				outline: none;
				padding: 5px 15px;
				text-align: left;
				transition: all .3s ease;

				&.active {
					background-color: $secondary-color;
					border-color: $secondary-color;
					color: white;
				}
			}
		}

		.sortBtns {
			text-align: right;
			margin-bottom: 20px;

			button {
				background-color: $vapor;
				border: 1px solid #e4e4e4;
				float: left;
				margin: 0 0 0 0;
				outline: none;
				padding: 0;
				text-align: center;
				width: 50%;

				i {
					color: #686868;
					font-size: 1.5rem;
				}

				&.active {
					background-color: $secondary-color;

					i {
						color: white;
					}
				}
			}
		}
		#listContainer {
			margin: 0;
			li {
				width: 100%;
				float: left;
				margin: 0 0 8% 0 !important;

				.productDatasheetLink {
					background-color: $light-grey;
					width: 100%;
					padding: 5px 0;
					p {
						text-align: center;
						margin: 0;
						i.fa {
							color: $secondary-color;
							margin-right: 10px;
						}
					}
				}

				.productBox {
					position: relative;
					width: 100%;
					border: 1px solid $light-grey;
					/*img {
						height: 100%;
						width: auto;
					}*/
					.productImg {
						width: 92%;
						margin: 4%;
						text-align: center;
					}

					.productTxt {
						width: 92%;
						margin: 4%;
						h4 {
							font-size: 1.5rem;
							margin: 0;
						}
						p {
							font-size: 0.9rem;
							line-height: 1.2rem;
							margin-bottom: 10px;
						}
						ul {
							margin: 0;
							padding: 0;
							list-style-type: none;
							li {
								border: none;
								font-size: 0.95rem;
								display: block;
								float: none;
								width: 100%;
								margin-bottom: 0 !important;
								i.fa {
									color: $secondary-color;
									margin-right: 5px;
								}
							}
						}
					}

					.productData {
						width: 92%;
						margin: 4%;
						p {
							text-align: left;
						}
						.certLogos {
							float: none;
							ul {
								margin: 0;
								padding: 0;
								list-style-type: none;
								li {
									border: none;
									width: auto;
									margin-left:10px !important;;
									display: inline-block;
									text-align: center;
								}
							}
						}
					}
				}
			}
			.mix {
				display: none;
			}
		}

		&#lokaliteter {

		}

		// VENUE DETAIL PAGE

		&#lokaliteter {
			.venueMainImg {
				margin-bottom: 20px;
			}

			.venueThumbImg {
				.imgBox {
					max-height: 90px;
					overflow: hidden;
					text-align: center;
					background-color: $vapor;
					img {
						max-height: 90px;
						width: auto;
					}
				}
			}

			.facilityList {
				margin-bottom: 60px;
			}

			.venueForm {
				background-color: $smoke;
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 6px;
				color: $body-font-color;
				h1,h2,h3,h4,h5,h6 {
					color: $secondary-color;
				}
				p {
					color: $body-font-color;
				}
				input[type="text"] {
					border: 1px solid $smoke;
					box-shadow: none;
				}
				textarea {
					border: 1px solid $smoke;
					box-shadow: none;
					min-height: 143px;
				}
			}

		}

		&#subpageServices {
			background-color: $smoke;
		}

		// REFERENCES FRONTPAGE



		.logoList {
			ul {
				margin: 0;
				border-top: 1px solid $light-grey;
				border-left: 1px solid $light-grey;
				li {
					padding-bottom: 0;
					line-height: 80px;
					border-bottom: 1px solid $light-grey;
					border-right: 1px solid $light-grey;
					.logoContainer {
						padding: 0 15px 0 15px;
						img {
							filter: grayscale(100%);
							-webkit-filter: grayscale(100%);
							opacity: 0.5;
							max-height: 75px;
						}
					}
					&:hover {
						.logoContainer {
							img {
								opacity: 1;
								filter: grayscale(0%);
								-webkit-filter: grayscale(0%);
								@include transition(all, 0.3s);
							}
						}
					}
				}
			}
		}

		.quoteBox {
			padding: 20px 20px 20px 20px;
			border: 1px solid $silver;
			position: relative;
			p {
				font-style: italic;
				margin-bottom: 0;
			}
			.quoteSignature {
				position: absolute;
				bottom: -80px;
				left: 20px;
				.quoteImg {
					width: 80px;
					height: 80px;
					overflow: hidden;
					border-radius: 40px;
					float: left;
					margin-right: 15px;
				}
				.quoteName {
					float: left;
					padding-top: 15px;
				}
			}
		}

	}

	#testinnhold {
		height: 1400px;
	}

	#footerContainer {

		.footerTop {
			background-color: $secondary-color;
			color: white;
			padding: 40px 0 20px 0;

			img {
				background-color: white;
				padding: 12px;
			}
		}

		.footerBottom {
			background-color: #c5c5c5;
			padding: 40px 0 20px 0;
			p {
				text-align: center;
				font-size: 1rem;
				color: #222;
				a {
					color: #222;
					&:hover {
						color: #777;
					}
				}
			}
		}

		.row {
			position: relative;
		}

		h4 {
			color: #000;
			font-weight: 600;
			margin-bottom: 20px;
		}

		p {
			color: white;
			font-size: 1rem;
			font-weight: 500;
		}

		strong {
			font-weight: 600;
		}

		.labelTitle {
			display: inline-block;
			width: 80px;
		}

		.footerMenu {
			ul {
				li {
					padding-bottom: 5px;
					a {
						color: $aluminum;
					}
					&:hover {
						a {
							color: $white;
							i {
								color: $secondary-color;
							}
						}
					}
				}
			}
		}

		.footerContact {

			a {
				color: white;
			}

			i.fa {
				font-size: 30px;
				min-width: 30px;
			}

			#footerCategoryList {
				list-style-type: none;
				margin-left: 0;

				li {

					a:hover {
						text-decoration: underline;
					}

					i {
						cursor: pointer;
						font-size: 19px;
						margin-left: 6px;
						min-width: 0;
						transform: translateY(2px);
						transition: transform .4s ease;
					}

					&.open {

						i {
							transform: rotate(90deg) translateX(2px);
						}
					}
				}

				ul {
					display: none;
					list-style-type: none;
				}
			}
		}

		.footerCertification {

			p {
				text-align: center;

				img {
					margin: 0 15px 0 15px;
				}
			}

			input {
				box-shadow: none;
				border-color: $secondary-color;
				border-width: 0 1px 0 0;
			}

			button {
				background-color: white;
				color: $secondary-color;
				padding: 9px 0;
				width: 100%;

				&:hover {
					background-color: darken($secondary-color, 20);
					color: white;
				}
			}
		}

		.footerCta {
			background-color: $secondary-color;
			display: inline-block;
			color: $white;
			position: absolute;
			left: 1.33333rem;
			top: -65px;
			padding: 10px 25px 10px 15px;
			font-size: 1.1rem;
			a {
				color: $white;
				i.fa {
					font-size: 1.3rem;
					vertical-align: middle;
					margin-right: 10px;
				}
			}
			&::after {
				border-right: 9px solid #777777;
				border-top: 26px solid transparent;
				content: "";
				display: block;
				height: 0;
				left: -9px;
				position: absolute;
				top: 0;
			}
			&:hover {
				background-color: lighten($secondary-color, 5%);
				cursor: pointer;
			}
		}
		#argo {
			p {
				color: $monsoon;
				font-size: 0.8rem;
				a {
					color: $monsoon;
					&:hover {
						color: $base;
					}
				}
			}
		}
	}

	.cartPrice {
	    margin-bottom: 15px;
    	text-align: center;
		.price {
			font-weight: 700;
			font-size: 2rem;
			color: $secondary-color;
			margin: 0 5px;
		}
	}

	.cartAmount {
		.amountBox {
			width: 25%;
			margin-right: 5%;
			float: left;
			input {
				float: right;
				margin-bottom: 0;
				height: 44px;
				line-height: 44px;
			}
		}
		.btnBox {
			width: 70%;
    		float: left;
			a {
				width: 100%;
				border-radius: 5px;
				padding: 14px 12px 15px;

				&.alert-box {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}

	.thumbBox {
		border: 1px solid #EEE;
		position: relative;
		height: 80px;
		overflow: hidden;
		box-shadow: 0 0 4px rgba(0,0,0,.1);
		img {
			position: absolute;
			top: -100%;
			right: -100%;
			bottom: -100%;
			left: -100%;
			margin: auto;
			max-width: none;
			max-height: 100%;
			min-width: 100%;
			width: auto;
			height: 100%;
		}
	}

	.cart-overlay
	{
		background-color: rgba( 255, 255, 255, .75 );
		display: none;
		position: absolute;
		z-index: 9;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	.cartList
	{
		position: relative;

		ul {
			border-top: 1px solid $smoke;
			margin: 0;
			li {
				padding: 10px 5px;
				border-bottom: 1px solid $smoke;
				border-left: 1px solid $smoke;
				border-right: 1px solid $smoke;
				input {
					margin-bottom: 0;
				}
				&:nth-child(even) {
					background-color: $white-smoke;
				}

				#changeCart
				{
					cursor: pointer;
				}
			}
		}
		.cartListImg {
			text-align: center;
			position: relative;
			width: 100%;
			height: 40px;
			background-color: $white;
			overflow: hidden;
			img {
				position: absolute;
				top: -100%;
				right: -100%;
				bottom: -100%;
				left: -100%;
				margin: auto;
				max-height: 100%;
				max-width: none;
				width: auto;
				height: 100%;
			}
		}
		.cartListPrice {
			text-align: right;
		}
	}
	.cartSum {
		margin-top: 3px !important;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 1px solid $smoke;
		border-bottom: 1px solid $smoke;
		margin-bottom: 20px !important;
		.cartSumTotal {
			text-align: right;
		}
	}

	.marginBottom {
		margin-bottom: 20px;
	}

	#bestillingsliste {
		color: #000;
	}

	.produkterimg {

		.product-img {
			height: 180px;
			background-position: center center;
			background-size: cover;
		}

		h4 {
			border-bottom: 1px solid $light-grey;
			margin-bottom: 15px;
			margin-top: 12px;
			padding-bottom: 8px;
			word-break: break-word;
		}
	}
}

@media #{$small-only} {
	header#top {
		#navTop {
			.mainNav {
				ul {
					margin-top: 35px;
					li {
						a {
							&:before  {
								content: "\f101";
								font-family: FontAwesome;
								font-size: 0.9rem;
								color: $secondary-color;
								margin-right: 5px;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}

	#frontBanner {
		#slideshow {
			.slide {
				.slideContent {
					margin-top: 30px !important;
				}
			}
		}
	}


	#docSearch {

		p, h4 {
			input.searchInput {
				width: 85%;
			}
		}
	}

	.content {
		&#quote {
			h2 {
				line-height: 1.8rem;
			}
		}
	}

}

@media #{$medium-only} {

	header#top {
		#navTop {
			.mainNav {
				ul {
					li {
						a {
							&:before  {
								content: "\f101";
								font-family: FontAwesome;
								font-size: 0.9rem;
								color: $secondary-color;
								margin-right: 5px;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}

	#frontBanner {
		#slideshow {
			// shared styles for transitioning slideshows
			&.standard, &.fullscreen {
				min-height: 405px;

				.slides > li .slideContent {
					min-height: 405px;
				}
			}

			// Standard 12 column wide slideshow with communication
			&.standard {
				.slide {
					.slideContent {
						h2 {
							font-size: 2.3rem;
						}
					}
				}
			}
		}
	}


	#focusBanner {
		position: relative;
		z-index: 980;
		background-color: $white;
		padding-bottom: 20px;
		.focusBoxContainer {
			margin-top: -35px;
			.focusBox {
				margin-bottom: 40px;
				padding: 0 0 0 6px;
				background-image: url(../images/static/focusbox_shadow_left.png);
				background-repeat: no-repeat;
				background-position: left top;
				.focusBoxInner {
					padding: 0 6px 0 0;
					background-image: url(../images/static/focusbox_shadow_right.png);
					background-repeat: no-repeat;
					background-position: right top;
					.focusBoxImg {
						margin: 0 2px 0 2px;
						padding: 6px 0 0 0;
						overflow: hidden;
					}
					.focusBoxContent {
						.focusBoxHead {
							margin: 0 2px 0 2px;
						}
						.focusBoxTxt {
							border: none;
						}
						.focusBoxLink {
							padding: 0 10px 0 10px;
							background-color: transparent;
						}
						/*h3 {
							font-size: 2.1rem;
						}*/
					}
				}
			}

		}
	}

	#siteHeader {
		background-color: $snow;
		min-height: $siteHeaderHeight;
		border-bottom: 1px solid $smoke;
		h1 {
			line-height: $siteHeaderHeight;
			text-transform: uppercase;
			text-align: left;
			font-size: 2.2rem;
		}
		.headerCta {
			line-height: $siteHeaderHeight;
			text-align: right;
		}
	}

	.content {

		&#frontArticles {
			.frontReference {

				.articleBox {
					.articleImage {
						width: 30%;
						margin-right: 5%;
						float: left;
						.imgBox {
							height: 111px;
						}
					}
					.articleTxt {
						width: 63%;
						float: left;
						padding-right: 2%;
						h4 {
							margin: 0;
							line-height: 1.8rem;
						}
						p {
							font-size: 0.9rem;
							margin-bottom: 0;

						}
					}
				}
			}
		}

		&#lokaliteter {
			#listContainer {
				margin: 0 0 0 -3%;
				li {
					width: 47%;
					float: left;
					margin: 0 0 3% 3%;
				}

				.mix {
					display: none;
				}
			}
		}

		&#quote {
			padding: 40px 0 20px 0;
			h2 {
				text-align: center;
				color: $primary-color;
				font-size: 2.8rem;
			}
			p {
				text-align: center;
			}
		}
	}

}

@media #{$medium-up} {

	.pageBreadcrumb {
		.docSearch {
			p {
				line-height: $breadcrumbsHeight;
				font-size: 0.9rem;
				span {
					display: inline-block !important;
				}
				input.docSearch {
					float: right;
					width: 65%;
					padding: 4px 5px;
					height: auto;
					margin-top: 10px;
				}
				input.searchBtn {
					position: absolute;
					right: 30px;
					top: 17px;
				}
			}
		}
	}

	.content {

		&#frontArticles {

			.frontReference {

				.articleBox {

					.articleImage {
						margin-bottom: 16px;

						.imgBox {
							height: 200px;
							overflow: hidden;
							border: 1px solid $light-grey;
						}
					}

					.articleTxt {

						h4 {
							margin: 0;
							line-height: 1.8rem;
						}

						p {
							font-size: 0.9rem;
							margin-bottom: 0;

						}
					}
				}
			}

			.frontNews {

				.articleBox {

					.articleImage {
						margin-bottom: 16px;

						.imgBox {
							height: 200px;
							overflow: hidden;
							border: 1px solid $light-grey;
						}

						.image {
							display: block;
							height: 100%;
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
						}
					}
				}
			}
		}

		#listContainer {
			margin: 0;
			li {
				width: 100%;
				float: left;
				margin: 0 0 2% 0 !important;

				.productDatasheetLink {
					background-color: $light-grey;
					width: 100%;
					padding: 5px 0;
					p {
						text-align: center;
						margin: 0;
						i.fa {
							color: $secondary-color;
							margin-right: 10px;
						}
					}
				}

				.productBox {
					position: relative;
					width: 100%;
					border: 1px solid $light-grey;
					.productImg {
						width: 16%;
						float: left;
						margin: 2%;
					}

					.productTxt {
						width: 56%;
						float: left;
						margin: 1.5% 0 15px 0;
						h4 {
							font-size: 1.5rem;
							margin: 0;
						}
						p {
							font-size: 0.9rem;
							line-height: 1.2rem;
							margin-bottom: 10px;
						}
						ul {
							margin: 0;
							padding: 0;
							list-style-type: none;
							li {
								border: none;
								font-size: 0.95rem;
								display: inline-block;
								width: 33.33%;
								i.fa {
									color: $secondary-color;
									margin-right: 5px;
								}
							}
						}
					}

					.productData {
						width: 20%;
						float: right;
						margin: 2%;
						p {
							text-align: right;
						}
						.certLogos {
							float: right;
							ul {
								margin: 0;
								padding: 0;
								list-style-type: none;
								li {
									border: none;
									width: auto;
									margin-left:10px !important;;
									display: inline-block;
									text-align: center;
								}
							}
						}
					}
				}
			}
			.mix {
				display: none;
			}
		}

		.logoList {
			ul {

				li {

					.logoContainer {
						padding: 0 30px 0 30px;
					}
				}
			}
		}

		#imageGallery {

			&.product_gallery {
				
				.thumbBox {
					height: 100px;
				}
			}
		}
	}
}

@media #{$large} {
	.frontpage {
		header#top {
			background-color: #fff;

			&.minimized {
				background-color: #fff;

				#branding {
					a.logo {
						background-size: auto 100%;
						@include transition(background-size, 0.3s);
					}
				}
			}

			#branding {
				a.logo {
					//background-image: url(../images/static/COBA-MT-ny-logo.png);
				}
			}

			#navTop {
				border-bottom: none;

				.socialMediaTop {

					.phoneNum {
						color: #000;
						span {
							color: $secondary-color;
						}
					}

					.socialIcon {
						ul {
							li {
								a {
									border: 1px solid $white;
									i {
										color: $white;
									}
								}
							}
						}
					}
				}

				.mainNav {
					ul {
						li {
							a {
								color: #000;
								text-shadow: 0 0 2px rgba(0,0,0,0.0);
							}
						}
					}
				}
			}

		}
	}

	header#top {

		&.minimized {
			background-color: #FFF;

			#branding {

				a.logo {
					background-size: auto 100%;
					height: 100%;
					@include transition(background-size, 0.3s);

					img {
						height: calc(100% - 4px);
						width: auto;
					}
				}
			}
		}

		#branding {

			.wrap-logo a.logo img {
				height: auto;
				padding: 1px 0 !important;
			}
		}

	}

	#subMenu {
		margin-top: 0;
		
		ul {
			li {
				a {
					padding: 5px 0;
				}
			}
		}
	}

	#frontBanner {
		#slideshow {
			margin-bottom: 0;
			// shared styles for transitioning slideshows
			&.standard, &.fullscreen {
				min-height: 629px;

				.slides > li .slideContent {
					min-height: 629px;
				}
			}

			// Standard 12 column wide slideshow with communication
			&.standard {
				.slide {
					.slideContent {
						margin-top: 250px;
						h2 {
							font-size: 1.5rem;
						}
						p {
							font-size: 28px;
						}
					}
				}
			}
			.slidenav {
				display: block;
				width: 35px;
				height: 100px;
				line-height: 100px;
				cursor: pointer;
				position: absolute;
				top: 45%;
				text-align: center;
				z-index: 5;
				@include transition(all, 0.2s);
				i {
					line-height: 2.35rem;
					font-size: 2rem;
					color: #FFF;
					vertical-align: middle;
					@include transition(color, 0.3s);
				}
				&.prev {
					left: 0;
				}
				&.next {
					right: 0;
				}
				&:hover {
					opacity: 1;
					i {
						color: $white;
					}
				}
			}
		}
	}

	header#top {
		height: $headerHeight;
		//background-color: $primary-color;
		position: fixed;
		width: 100%;
		z-index: 999;
		@include transition(height, 0.3s);

		#branding {
			height: $headerHeight;
			line-height: $headerHeight;
			a.logo {
				display: block;
				//background-image: url(../images/static/COBA-MT-ny-logo.png);
				background-repeat: no-repeat;
				background-position: left center;
				span {
					display: block;
					text-indent: -9999px;
					overflow: hidden;
				}
			}
		}

		#navTop {
			max-height: $headerHeight;
			overflow: visible;
			position: relative;
			height: $headerHeight;
			background-color: transparent;
			border-bottom: none;

			.socialMediaTop {
				position: absolute;
				top: 20px;
				right: 1.25rem;
				width: auto;
				padding: 0;
				.phoneNum {
					float: left;
					color: $primary-color;
					span {
						font-weight: bold;
						color: $secondary-color;
						font-size: 1.1rem;
					}
				}
				.socialIcon {
					float: left;
					margin-left: 20px;
					ul {
						margin: 0;
						list-style-type: none;
						li {
							display: inline-block;
							a {
								width: 26px;
								height: 26px;
								line-height: 23px;
								display: block;
								border-radius: 20px;
								border: 1px solid $primary-color;
								text-align: center;
								i {
									color: $primary-color;
									font-size: 0.9rem;
								}
							}
						}
					}
				}
			}

			.mainNav {
				right: 1.25rem;
				z-index: 999;
				text-align: right;

				ul {
					margin: 0;
					list-style-type: none;

					li {
						border-bottom: none;
						border-top: none;
						display: inline-block;
						line-height: $headerHeight;
						position: relative;

						a {
							font-weight: 500;
							display: block;
							color: #000;
							font-size: 1rem;
							letter-spacing: 1px;
							font-family: "Roboto Condensed";
							text-transform: uppercase;
							padding: 0;
							@include transition(all, .25s);
						}

						&:hover, &.active {

							a {
								color: $secondary-color;
							}
						}

						&:hover {

							ul {
								max-height: 1000px;
								@include transition(max-height, 1s);
							}
						}

						ul {
							position: absolute;
							left: 0;
							max-height: 0px;
							overflow: hidden;

							li {
								min-width: 150px;
								display: block;
								margin-left: 0;
								line-height: 35px;
								background-color: $secondary-color;
								padding: 0 15px;
								text-align: left;
								min-width: 174px;

								a {
									text-transform: uppercase;
									color: $white !important;
								}
								
								&:hover, &.active {

									a {
										color: black !important;
									}
								}
							}
						}
					}
				}

				> ul > li {
					
					&:hover,
					&.active {
						
						a {
							background-color: $secondary-color;
							color: white;

							span {
								border-bottom: none;
							}
						}
					}
					
					&.search-item {
						padding-right: 0;

						&:hover a {
							background-color: transparent;
							color: $secondary-color;
						}
					}

					> a {
						padding: 0 9px;
					}
				}
			}
		}

		&.minimized {
			height: $headerHeightMin;
			
			#branding {
				height: $headerHeightMin;
				line-height: $headerHeightMin;
				//@include transition(all, 0.3s);
			}

			#navTop {
				height: $headerHeightMin;
				@include transition(height, 0.3s);

				.socialMediaTop {
					@include transition(top, 0.3s);
				}

				.mainNav {

					ul {

						li {
							line-height: $headerHeightMin;

							ul {
								
								li {
									line-height: 35px;
								}
							}
						}
					}
				}
			}
		}
	}

	#focusBanner {
		position: relative;
		z-index: 980;
		background-color: $white;
		background-image: url(../images/static/focusbox_banner_top.png);
		background-repeat: repeat-x;
		background-position: left top;
		padding-bottom: 20px;

		.focusBoxContainer {
			margin-top: -36px;

			.focusBox {
				margin-bottom: 40px;
				padding: 0 0 0 6px;
				background-image: url(../images/static/focusbox_shadow_left.png);
				background-repeat: no-repeat;
				background-position: left top;

				.focusBoxInner {
					padding: 0 6px 0 0;
					background-image: url(../images/static/focusbox_shadow_right.png);
					background-repeat: no-repeat;
					background-position: right top;

					.focusBoxImg {
						height: 160px;
						margin: 0 2px 0 2px;
						overflow: hidden;
						padding: 6px 0 0 0;
					}

					.focusBoxContent {

						.focusBoxHead {
							margin: 0 2px 0 2px;
						}

						.focusBoxTxt {
							border: none;
						}

						.focusBoxLink {
							padding: 0 10px 0 10px;
							background-color: transparent;
						}
					}
				}
			}
		}
	}

	.contentPusher {
		display: block;
		height: $headerHeight;
	}


	.parallaxBkgr {
		.parallax-window {
			min-height: 500px;
			.parallaxText {
				margin-top: 140px;
				h5 {
					font-size: 1.2rem;
				}
				h2 {
					font-size: 2.8rem;
				}
			}
		}
	}

	#siteHeader {
		background-color: $snow;
		min-height: $siteHeaderHeight;
		border-bottom: 1px solid $smoke;
		h1 {
			line-height: $siteHeaderHeight;
			text-transform: uppercase;
			text-align: left;
		}
		.headerCta {
			line-height: $siteHeaderHeight;
			text-align: right;
		}
	}

	.content {

		#subpageRight {
			// background-image: url(../images/static/content_right_shadow.png);
			// background-repeat: no-repeat;
			// background-position: left top;
			// padding-left: 20px;
			// min-height: 600px;
		}

		&#lokaliteter {
			#listContainer {
				margin: 0 0 0 0;
				li {
					width: 100%;
					float: left;
					margin: 0;
				}

				.mix {
					display: none;
				}
			}
		}

		&#customers {
			padding: 10px 0 20px 0;

			h5 {
				text-align: center;
				font-size: 1rem;
			}
		}



		&#quote {
			padding: 60px 0 30px 0;
			h2 {
				text-align: center;
				color: $primary-color;
				font-size: 3.2rem;
			}
			p {
				text-align: center;
			}
		}

		.listImg {
			min-height: 190px;
			max-height: 190px;
		}



		// VENUES SCROLLER FRONT PAGE


		&#venues {
			.slickCarousel {
				.slick-list {

					.slick-slide {
						.venueBox {
							height: 270px;
						}
					}
				}

			}
		}

	}

	#footerContainer {
		.footerCertification {
			p {
				text-align: right;
				img {
					margin: 0 0 0 15px;
				}
			}

		}
	}


	a.form-anchor
	{
		top: -80px; // -20px (column-gutter) - 60px (height of minimized header)
	}

}
#top #headerCart.open {
    max-height: 300px;
}

#top {
	#headerCart {
		&.open {
			max-height: 300px;
		}
		z-index: 9999;
		max-height:0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 100px;
		background-color: $secondary-color;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);
		width: 300px;
		font-size: 0.9rem;
		@include transition(max-height, 0.3s);
		.headerCartTxt {
			float: left;
			width: 74%;
			padding: 15px 0 15px 6%;
			p {
				color: #fff;
				margin-bottom: 0;
				font-size: 0.8rem;
				a {
					color: #fff;
					font-weight: bold;
					i.fa {
						margin-right: 5px;
					}
				}
			}
		}
		.headerCartImg {
			float: right;
			width: 26%;
			padding: 10px 0;
			text-align: center;
			i.fa {
				width: 60px;
				height: 60px;
				line-height: 60px;
				border-radius: 60px;
				background-color: #fff;
				text-align: center;
				font-size: 2rem;
			}
		}
	}

	&.minimized {
		#headerCart {
			top: 70px;
		}
	}

	@media #{$small-only} {
		#headerCart {
			top: 70px;
		}
	}

	@media #{$medium-only} {
		#headerCart {
			top: 70px;
		}
	}
}
