.articleTxt h5 {
  overflow: hidden;
  display: inline-block;
  height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 12px); }
.articleTxt p {
  line-height: 1.5rem; }
