.articleTxt h5 {
  overflow: hidden;
  display: inline-block;
  height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 12px); }

.articleTxt p {
  height: 5.7rem;
  line-height: 1.5rem; }

.product-text h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

span.arrow-style {
  color: #6ea0d4;
  font-size: 22px; }

header#top #navTop .lang-change ul li a {
  opacity: .35;
  background-position: center center; }

.active {
  opacity: 1 !important; }

.submenu {
  z-index: 99999; }

ul#product-list li {
  display: none; }

header#top #branding .wrap-logo a.logo img {
  padding: 12px 0px 12px 0px !important;
  display: block;
  height: 100%; }

.moveDown {
  top: 50px; }

#headerCart {
  text-align: left; }

#quote em {
  font-size: 2.3125rem; }

#focusBanner {
  background-image: none !important; }
  #focusBanner .focusBoxContainer {
    margin-top: -72px; }

#branding {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.flexslider {
  border: 0; }
  .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover; }
  .flexslider .slides .slideContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    width: 100%; }
    .flexslider .slides .slideContent a {
      color: #fff; }
    .flexslider .slides .slideContent h2 {
      font-weight: 500;
      color: #fff !important;
      font-size: 28px;
      text-shadow: 2px 2px 10px #000;
      text-transform: uppercase;
      font-family: "Roboto Condensed",sans-serif; }
    .flexslider .slides .slideContent p {
      font-weight: 500;
      margin-bottom: 0;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
    .flexslider .slides .slideContent .button {
      background-color: #6ea0d4;
      border: 1px solid #eee;
      margin-right: 10px; }
      .flexslider .slides .slideContent .button.active {
        background-color: #6ea0d4; }

.flex-prev {
  background-color: rgba(49, 170, 159, 0.56);
  background-image: url("/media/dist/images/static/arrow_left.png");
  width: 30px;
  opacity: .7;
  left: -50px;
  background-repeat: no-repeat;
  /* height: 100px; */
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px !important;
  margin: -30px 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  text-indent: -9000px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-next {
  background-color: rgba(49, 170, 159, 0.56);
  background-image: url("/media/dist/images/static/arrow_right.png");
  width: 30px;
  text-decoration: none;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 61px !important;
  margin: -30px 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  text-indent: 9000px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#slideshow {
  width: 100% !important;
  border-radius: 0 !important; }

@media screen and (max-width: 768px) {
  .focusBoxContainer {
    margin-top: 20px !important; }
  .flex-direction-nav {
    display: none; }
  .read-more {
    display: none; }
  .slideText h2 {
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 1rem !important;
    text-align: left;
    margin-left: -5px; } }
